body{
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	line-height: 27px;
	font-weight: 300;
	color: #2C2B2B;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-color: darkgreen;
}

.container{
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}

.page {
	flex: 1 1 auto;
}



@media(max-width: 1140px){

}

@media (max-width: 1024px){ 
	
}

@media (max-width: 900px){
 
}

@media (max-width: 768px){
   
}

@media(max-width: 650px){
   
}

@media (max-width: 600px){
	
}

@media(max-width: 520px){

}

@media(max-width: 340px){

}